form {
    flex-direction: row;
    gap: 12px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 240px;
    /* align-items: center; */
}
p{
    color:blueviolet
}